{% extends "./_base.html" %}
{% block content %}
{% load static %}

<div class="jumbotron-Access">
        <center>
            <h1>　</h1>
            <h1>　</h1>
            <h3><img src="{% static "app/img/アクセスページ/アクセスページ@3x.png"%}" width="300px"/></h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3280.4610716451525!2d135.5017901155539!3d34.693548880436346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e6e7cca81681%3A0x35904a0741816399!2z5aSn6Ziq5biC5Lit5aSu5YWs5Lya5aCC!5e0!3m2!1sja!2sjp!4v1566171066469!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
<!--            <h3><img src="{% static "app/img/入力完了ページ/P1001183.JPG"%}" width="700px"/></h3>-->
             <h1>　</h1>
            <h2>大阪市中央公会堂</h2>
            <h2>大阪市北区中之島１−１−２７</h2>
            <h2>TEL 06-6208-2002</h2>
<!--            <h1>MAP</h1>-->
            <h1>　</h1>
            <h3><img src="{% static "app/img/アクセスページ/最寄り駅表@3x.png"%}" width="700px"/></h3>
            <h1>　</h1>
            <h3><img src="{% static "app/img/アクセスページ/会場入口図@3x.png"%}" width="700px"/></h3>
            <h1>　</h1>
            <h1>　</h1>
            <h1>　</h1>
            <h1>　</h1>
            <h1>　</h1>
            <h1>　</h1>
            <h1>ここは画像</h1>
            <h1>　</h1>
            <h1>　</h1>
            <h1>　</h1>
            <h1>　</h1>
            <h1>　</h1>
            <h1>　</h1>
            <h2>国の重要文化財である公会堂の</h2>
            <h2>1階部分は見学自由となっております。</h2>
            <h2>お時間ございましたら是非ご見学されて下さい！</h2>
            <h1>　</h1>
                        <div class="float-right">
            <h3><a class="btn btn-circle-3d" href="{% url 'index' %}"><img src="{% static "app/img/入力完了ページ/ホームアイコン@3x.png"%}" width="150px"/></a>　　　</h3>
            <!--            <h1><a href="{% url 'index' %}"><img src="{% static "app/img/入力アイコン.png"%}" width="250px"/></a></h1>-->
        </div>
            <h1>　</h1>
            <h1>　</h1>
            <h1>　</h1>

        </center>


</div>
{% endblock %}