{% extends "./_base.html" %}
{% block content %}
{% load static %}
<div class="jumbotron-inv">
        <center>
            <h2>　</h2>
            <h3><img src="{% static "app/img/インフォメーションページ/インフォメーションアイコン@3x.png"%}" width="300px"/></h3>
            <h2>　</h2>
            <h3><img src="{% static "app/img/インフォメーションページ/P1001464.JPG"%}" class="img-fluid"/></h3>
            <h2>　</h2>
            <h2>　</h2>
            <h3><img src="{% static "app/img/インフォメーションページ/日時詳細文@3x.png"%}" class="img-fluid"/></h3>
<!--        <div>-->
<!--            <h2>　　　日時　　　　２０１９年１０月１９日（土曜日）　　　　</h2>-->
<!--            <h2>　　　受付　　　　正午　　　　　　　　</h2>-->
<!--            <h2>　　　挙式　　　　午後１２時３０分　　</h2>-->
<!--            <h2>　　　披露宴　　　午後１時３０分　　　</h2>-->
<!--        </div>-->
<!--        <div>-->
<!--            <h2>　</h2>-->
<!--            <h2>　　　場所　　　　大阪中央公会堂　　　　　　　　　　　　　</h2>-->
<!--            <h2>　　　挙式　　　　３階特別室　　　　　</h2>-->
<!--            <h2>　　　披露宴　　　３階中集会室　　　　</h2>-->
<!--        </div>-->
        <div>
            <h2>　</h2>
            <h2>　</h2>
            <h2>　</h2>
            <h2>誠に勝手ながら9月15日迄にご返信</h2>
            <h2>いただければ幸いに存じます</h2>
        </div>
        <div>
            <h2>　</h2>
            <h1><a href="{% url 'create'  %}"><img src="{% static "app/img/インフォメーションページ/RSVPアイコン@3x.png"%}" width="500px"/></a></h1>
            <h2>　</h2>
        </div>
        </center>
</div>
{% endblock %}